/* Header styles */
body {
  background-color: #ffefef;
}
header {
  background-color: #e1e7ff;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 36px;
  color: #333333;
}

.contItems {
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  background-color: #edcccc;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
}
#hygieneCont {
  background-color: rgb(244, 247, 223);
}
#petsCont {
  background-color: rgb(218, 255, 204);
}
#clothesCont {
  background-color: rgb(255, 255, 255);
}
#homeAppliancesCont {
  background-color: rgb(204, 224, 255);
}
.contItems h2 {
  font-size: 24px;
  margin-top: 0;
}

.itemList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.itemList li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.itemList li:last-child {
  border-bottom: none;
}

.itemList input[type="checkbox"] {
  margin-right: 10px;
}

#purchase-btn,
.showItems {
  background-color: #d14949;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#purchase-btn:hover,
.showItems:hover {
  background-color: #355fe7;
  border-color: #6f8ae2;
  }